:root {
    --main-bg-color: #f2f2f2;
    --header-bg-color: #fbfaf6;
    --nav-bg-color: #F9AA33;
    --section-bg-color: #fbfaf6;
    --footer-bg-color: white;
    --my-color-black: #2d2d2d;
    --gridItem-bg-color: #62a93f;
    --grid-font-color: white;
}