#dashGrid {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-gap: 40px;
    grid-auto-flow: row dense;
    border-top: 1px solid var(--my-color-black);
    padding: 15px;
}

.gridItem {
    background-color: var(--gridItem-bg-color);
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--grid-font-color);
}

.handle {
    cursor: grab;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.gridItemTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#item1 {
    grid-row: span 2;
    grid-column: span 4;
}
#item2 {
    grid-row: span 1;
    grid-column: span 1;
}
#item3 {
    grid-row: span 1;
    grid-column: span 1;

}
#item4 {
    grid-row: span 1;
    grid-column: span 2;
}
#item5 {
    grid-row: span 2;
    grid-column: span 3;

}
#item6 {
    grid-row: span 2;
    grid-column: span 3;
}

#item_dummy {
    background-color: rgba(0,0,0,0);
}

.grid-header {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

.grid-section {
    overflow-wrap: break-word;
    display: flex;
    overflow: hidden;
}


/* ------------------ 그래프 ------------------ */
.graph-wrapper {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.graph-button-prev, .graph-button-next {
    font-size: 40px;
    color: black;
    cursor: pointer;
}
.graph-date-info {
    position: absolute;
    top: 2px;
    z-index: 2;
    width: 100%;
    text-align: center;
}

.graph-menu {
    position: relative;
    height: 60%;
    width: 70px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    font-size: 13px;
}
.graph-radio-wrapper {
    width: 100%;
    height: 15px;
    text-align: center;
    opacity: 1;
    background: rgba(0,0,0,0);
    border-radius: 0;
    outline: none;
}
.graph-radio-wrapper, .graph-radio-wrapper > label, .graph-radio-wrapper > input[type="radio"] {
    cursor: pointer;
}
.graph-radio-wrapper > input[type="radio"] {
    display: none;
}
.swiper-pagination-bullet-active > label {
    background-color: green;
    text-align: center;
    display: block;
}

.swiper-container.item-1 {
    width: 500px;
    height: 250px;
    border-radius: 5px;
    color: black;
    margin: 0;
}
.swiper-slide.item-1 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-timerate-wrapper {
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-left: 50px;
    margin-top: 5px;
}
.timerate {
    padding: 6px 20px;
    border-radius: 40px;
    line-height: 8px;
    font-size: 12px;
    background-color: gray;
    cursor: pointer;
}
.timerate.checked {
    background-color: #F9AA33;
}

#tooltip {
    position: absolute;
    height: auto;
    min-width: 15px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 12px;
}
/* ----------------------------------------- */


/* ------------------ 랭킹 ------------------ */
.swiper-container.item-5 {
    width: 300px;
    height: 280px;
    border-radius: 5px;
    color: black;
}

.swiper-wrapper.item-5 ul {
    list-style-type: none;
    padding: 0;
    width: 95%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.swiper-wrapper.item-5 li {
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--my-color-black);
    line-height: 50px;
}
.swiper-wrapper.item-5 img{
    width: 15px;
    height: 15px;
}

.swiper-slide.item-5 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-description.item-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
}
.swiper-button-section.item-5 {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 10%;
    line-height: 10%;
    align-items: center;
    z-index: 2;
}
.swiper-button-prev.item-5, .swiper-button-next.item-5 {
    position: relative;
    color: var(--my-color-black);
    outline: none;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
}

.user-rank-flag {
    width: 100%;
    height: 40%;
    border-radius: 5px;
    color: var(--my-color-black);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-rank-flag img {
    width: 50px;
    height: 50px;
}
.rank-icon-section {
    display: flex;
    align-items: center;
}

.user-rank {
    background-color: white;
    width: 100%;
    height: 40%;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.user-rank img {
    width: 20px;
    height: 20px;
}
.rank-summary {
    width: 80%;
    height: 60px;
}
/* ----------------------------------------- */


/* ------------------ 칼로리 ------------------ */
.kcal-section {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    height: 90px;
    line-height: 90px;
}
/* ----------------------------------------- */

/* ------------------ 과식 ------------------ */
.overeating-section {
    width: 100%;
}
.overeating-value {
    color: red;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 12px;
}
.overeating-notice-wrapper {
    display: flex;
    justify-content: space-evenly;
    color: black;
}
.overeating-notice-wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.overeating-notice {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    z-index: 1;
}
.overeating-notice.active {
    background-color: red;
}
.overeating-hr {
    border: thin solid lightgray;
    border-bottom: 0;
    width: 60%;
    position: absolute;
    bottom: 37px;
    display: block;
    margin-left: 18px;
    z-index: 0;
}
/* ----------------------------------------- */

/* ------------------ 걸음 수 / 걸은 거리 ------------------ */
.walk-section {
    width: 100%;
    color: black;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
/* ----------------------------------------- */

/* ------------------ 운동 정보 ------------------ */
#item6 > .grid-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info-section {
    width: 80%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.info-header {
    font-size: 20px;
    margin-bottom: 10px;
}
.info-text {
    margin: 5px;
    font-size: 17px;
}
.info-search-link {
    font-size: 17px;
}

.info-prev, .info-next {
    font-size: 40px;
    color: black;
    cursor: pointer;
}
/* ----------------------------------------- */