html, body {
    margin: 0 auto;
    padding: 0 auto;
    background-color: #f2f2f2;
}


header {
    background-color: #232F34;
    height: 100px;
}

nav {
    background-color: #F9AA33;
}


section {
    background-color: #344955;
}


footer {
    background-color: white;
}
.footer-wrapper {
    width: 350px;
    margin: 0 auto;
    padding: 10px 0;
}